<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="searchbar">
		<h1>A DAY IN HISTORY</h1>
		<input id="datePicker" type="date" />
		<input type="button" id="search" value="search"/>
	</div>

	<div id="results" style="list-style-type: none"></div>	

	<script type="text/template" class="template">
		<div class="article">
			<h2><b><%= headline %></b></h2>
			<p><%= leadparagraph %></p>
			<a href="<%= url %>"><%= url %></a>
			</div>
	</script>

	<script src="js/lib/jquery-min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/models/history.js"></script>
	<script src="js/models/history-collection.js"></script>
	<script src="js/views/history-view.js"></script>
	<script src="main.js"></script>

</body>
</html>