.searchbar {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 3%;
	font-family: "Betafont-Thin";
}

@font-face {
	font-family: "Betafont-Thin";
	src: url(Betafont-Thin.otf);
}

#results {
	font-family: "Betafont-Thin";
}

.article {
	border-bottom: 1px solid #ccc;
}


a {
  color: red;
  text-decoration: none;
 }